:root {
    --button-bg: hsla(232, 77%, 50%, 1); /* opaque blue */
    --button-color: hsla(from var(--button-bg) h s 100% / 1); /* opaque white: derrived from our opaque blue */
}

body {
    margin: 0;3
    font-family: system-ui;
    container-name: bodyContainer;
    container-type: inline-size;
}
.screen {
    min-height: 100svh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 3rem auto 8rem;
    grid-row-gap: 1rem;
}

.rest-timer {
    font-size: 10rem;
    text-align: center;
    color: var(--button-bg);
}

.work-warm {
    display: flex;
    justify-content: center;
    
}
.work-warm > * {
    margin-inline: 2rem;
}

button {
    background-color: var(--button-bg);
    border: none;
    padding-block: .5rem;
    padding-inline: .75rem;
    color: var(--button-color);
    border-radius: 50%;
}

.work-warm > button {
    border-radius: 5px;
}

.sets {
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.exercise,
.summary {
    font-size: 1.25rem;
    background-color: var(--button-bg);
    color: var(--button-color);
    align-self: center;
    padding-inline: .5rem;
    padding-block: .75rem;
}

.button-group {
    grid-column: 1 / span 2;
    text-align: center;
}

.button-group > * {
    margin-inline: 2.5px;
}

    .button-group > .add-set {
        color: var(--button-bg);
        background-color: var(--button-color);
        border-color: var(--button-bg);
        border-style: solid;
        border-width: 2px;
    }

.main-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-content: center;
    border-top-color: var(--button-bg);
    border-top-style: solid;
    border-top-width: 1px;

}

img {
    height: 6ch;
}

@container bodyContainer ( width > 75ch) {
    .screen {
        max-width: 75ch;
        margin-inline: auto;
        border-color: var(--button-bg);
        border-style: solid;
        border-inline-width: 1px;
        border-block-width: 0;
        min-height: 100svh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15rem 3rem auto 8rem;
        grid-row-gap: 1rem;
    }
}

